{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Page
{% endblock %}

{% block body %}
    <form class="w3-container" action="{% url 'encyclopedia:create' %}" method="post">
        {% csrf_token %}
        <input class="effect-8" type="text" name="title" placeholder="Title">
        <br>
        <br>
        <h2><label for="content-block">Content of the page:</label></h2>
        <textarea id="content-block" class="effect-8" name="content-block" rows="4" cols="50">:-)</textarea>
        <br>
        <input class="btn btn-primary" type="submit" value="Save">
    </form>
{% endblock %}